.bg-body{
    background-color: #1f2020;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

.aldrich-regular {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
}

.caveat {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }