.bg-body{
    background-color: #1f2020;
}

.aldrich-regular {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
}

.bild {
    background-image: linear-gradient(rgba(31, 32, 32, 0.7), rgba(31, 32, 32, 10)),
    url(../assets/img/home-bg.jpg);
    /* background-image: url(../assets/img/home-bg.jpg); */
    background-position: center;
    background-size: cover;
}